/*Auteur : Napakon PORTIER
Projet : OC - Booki*/


body {
	min-height: 100%;
	/* il est indiqué 1400px dans les contraintes, mais 1440 dans la maquette ... */
	max-width: 1440px ;
	display: flex;
	flex-direction: column; 
	justify-content: center;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	font-family: Raleway;
	box-sizing: border-box;
	
}

h1 {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin :0;
}

h2, #site-search, #button-search {
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
}

h3 {
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	margin: 0;
}

p {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}

li {
	display: flex;
	list-style: none;
	
}

/*Header : 
- Side menu
- Seaching module
- Browser button
- info line   */

header {
	display: flex;
	flex-direction: column;
	
	padding-top: 50px;
}

a {
	text-decoration: none;
}

/*Side menu*/
#logo-booki {
	width: 62px;
	height: 19px;
}

.nav-link {
	display: inline-flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	right: 77px;
	
}

.nav-link a{
	
	display: inline-flex;
	justify-content: space-around;
	align-items: flex-end;
	
	cursor: pointer;
	
	padding: 0 25px;
	padding-top: 44px;
	
	background-color: #FFFFFF;
	
	color: #000000;
	text-decoration-line: none;
	
	transition: 1s;
	box-sizing: border-box;
	border-top: 3px solid #ffffff;
}
.nav-link a:hover{
	color: #0065FC ;
	border-top: 3px solid #7524ff;
	
}

/*End side menu*/

/*Search module*/
#top-content {
	margin-top: 63px;
}

#top-content > div:first-of-type {
	margin-bottom: 8px;
}

.search-container {
	display: inline-flex;	
	height: 49px;
	margin-top: 20px;
}

.search-container .grey-square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	border : 1px solid;
	border-radius: 15px 0 0 15px;
	border-color:#D9D9D9;
	background-color: #F2F2F2 ;
	
}

.search-rectangle {
	display: flex;
	align-items: center;
}

.search-rectangle #site-search {
	width: 231px;
	height: 47px;
	border : 0;
	outline : 1px solid #D9D9D9;
}

.search-rectangle #button-search {
	cursor : pointer ;
	width: 132px;
	height: 49px;
	
	background-color:#0065FC ;	
	border-radius: 0 15px 15px 0;
	border-color: transparent;
	
	color: #FFFFFF;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	
	transition: opacity 1s;
	
}
.search-rectangle #button-search:hover {
	opacity:80% ;
	
}

/*end search module*/

/*Browser button*/
.browsing {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	
	cursor: pointer;
	
	padding-top: 30px ;
	max-width: 914px;	
	margin-left: 7px;
	
}

.browsing .filter-button {	
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	cursor: pointer;
	
	border : 1px solid #D9D9D9;
	border-radius: 25px;
	background-color: #fff;
	
	font-size: 17px;
	line-height: 19.96px;
	font-weight: 700;
	
	transition: 1s;
}

.browsing .filter-button:hover{
	opacity: 80%;
	color: #0065FC;
	background-color: #DEEBFF;
}

.browsing i{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	height: 22px;
	width: auto;
	padding: 8px ;
	
	color: #0065FC;
}

.browsing p {
	font-weight: 700;
	line-height: 21px;
}

/* End navigation */

/*tooltip*/

.info{
	display: flex;
	align-items: center;
	margin-top: 38px;
	margin-bottom: 39px;
	margin-left: 4px;
}
.info .i-circle {
	margin-right: 20px;
}

.i-circle i {
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 24px;
	width: 24px;
	
	color: #0065FC;
	border : 1px solid;
	border-radius: 50%;
	border-color:#D9D9D9;
	background-color: #FFF ;
	box-sizing: border-box;
}

/*end tooltip*/

/*End Header*/

/*Body : 
- Content
-basic-grey-widget
○ widget-accommodation 
• thumbnail-accommodation
• rectangle-accommodation 
• accommodation-img-container 
• label-accommodation 
○ widget-popular
○ widget-activity 

*/


.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
	width: 100%;
}

.basic-grey-widget-container {
	display: flex;
	flex-wrap: nowrap;
	
	
}

@media (max-width: 992px) {
	.basic-grey-widget-container {
		flex-direction: column;
	}
}

.basic-grey-widget {
	display: flex;
	flex-direction: column;
	
	box-sizing: border-box;
	
	flex-grow: 1;
	
	background-color: #f2f2f2;
	border-radius: 20px;
	padding: 40px;
	
	max-height: 626px;
}

.basic-grey-widget a {
	color: #000;
}

.img-preview-widget {
	
	width: 100%; 	
	height: 100%;
	object-fit: cover;
	
	border-radius: 20px 20px 0 0;
	box-sizing: border-box;
	border: 5px solid #fff;
}

@keyframes bump { 0% { transform: scale(1); } 25% { transform: scale(1.02); } 50% { transform: scale(1);} 75% { transform: scale(0.98);} 100% {transform: scale(1);}  }

.img-preview-widget:hover {
	animation: 6s linear 0s infinite bump 
}

.grey-star, .grey-star::before {
	color: #f2f2f2 !important;
}

.stars {
	display: flex;
	gap: 2px;
}

.stars .fa-star, .stars .fa-star::before {
	color: #0065FC;
	font-size: 12px;
	max-width: 12px;
}



#widget-accommodation {
	max-width: 880px;
	position: relative;
	margin-right: 40px;
}

@media (max-width: 992px) {
	#widget-accommodation {
		margin-bottom: 53px;
		margin-right: 0;
	}
}


#thumbnail-accommodation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 31px;
	overflow: hidden;
}

.rectangle-accommodation {
	
	min-width: 200px;
	max-width: 246px;
	width: 100%;
	height: 199px;
	
	flex-grow: 1;
	
	margin-top: 30px;
}

.widget-rectangle {
	border-radius: 20px ;
	background: #FFF;
	
	overflow: hidden;
	
	box-sizing: border-box ;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	
	text-decoration: none;
}

.accommodation-img-container {	
	display: flex;
	
	height: 124px;
	width: 100%;
	
	overflow: hidden;
}

.description-accommodation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 4px;
	margin-left: 16px;
}

.description-accommodation > p {
	margin: 9px 0;
}

.displaymore-widget {
	display: flex;
	width: fit-content;
	flex-grow: 1;
}

.displaymore-widget:hover{
	color: #0065FC;
}

/* Popular widget */

#widget-popular {
	display: flex;
	flex-direction: column;
	min-width: 420px;
	max-width: 420px;
	padding-left: 37px;
}

@media (max-width: 992px) {
	#widget-popular {
		max-width: 100%;
	}
}

#widget-popular-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin-bottom: 26px;
}

#widget-popular-header i {
	width: 18px;
	line-height: 16px;
	color: #0065FC;
}

#thumbnail-popular {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rectangle-popular {
	width: 100%;
	margin-bottom: 33px;
}

.rectangle-popular a {
	display: flex;
}

.description-popular-header > h3 {
	margin-bottom: 7px;
}

.popular-img-container {
	display: flex;
	
	height: 144px;
	min-width: 137px;
	max-width: 137px;
	
	overflow: hidden;
}

.popular-img-container > .img-preview-widget {
	border-radius: 20px 0 0 20px;
}


.label-popular {
	width: 100%;
	height: 100%;
}

.description-popular {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	margin-left: 15px;
	margin-top: 16px;
	margin-right: 22px;
	margin-bottom: 12px;
}

/* End popular */
#widget-activity {
	background-color : #FFF;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 61px;
}

#thumbnail-activity {
	display: flex;
	margin-top: 18px;
	
}

.rectangle-activity {
	margin-right: 43px;
	min-width: 182px;
	max-width: 302px;
	max-height: 445px;
	height: 445px;
}

@media (max-width: 992px) {
	.rectangle-activity {
		min-width: 102px;
		max-width: 182px;
	}
}

.rectangle-activity:last-of-type {
	margin-right: 0;
}

.rectangle-activity.widget-rectangle {
	padding: 0;
}

.activity-img-container {
	max-height: 389px;
	height: 389px;
	overflow: hidden;
}

.activity-img-container .img-preview-widget {
	border: none;
}

.description-activity {
	margin-left: 19px;
	margin-top: 20px;
	margin-bottom: 21px;
	color: #000;
}

/*End body*/

.footer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 200px;
	align-self: center;
}
.bottom-information {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	
	height: 100%;
	width: 100%;
	
	background-color: #F2F2F2;
}

.information-footer-colonne a:hover{
	color: #0065FC;
}

.information-footer-colonne a{
	display: flex;
	flex-direction: column;
	
	max-height: 200px;
	margin-top: 12px ;
	
	color: #000;
	text-decoration: none;
	
}


/* End footer */
