/*Auteur : Napakon PORTIER
Projet : OC - Booki*/
html {
	display: flex;
	justify-content: center;
	/* To fix google front on firefox */
	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100%;
	max-width: 1400px ;
	min-width: 320px;
	display: flex;
	flex-direction: column; 
	justify-content: center;
	margin: 0 2% 0 2%;	
	box-sizing: border-box;
	position: relative;
	font-family: Raleway;
	font-style: normal;
}

footer {
	width: 1400px ;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 200px;
	align-self: center;
}

h1 {
	font-size: 22px;
	line-height: 26px;
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: 22px;
	line-height: 26px;
	font-weight: 700;
	margin : 0;
}

h3,#site-search, #button-search{
	font-size: 16px;
	line-height: 19px;
	margin: 0;
}

h4 {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
}

header {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding-top: 50px;
}

.no-style {
	list-style-type: none;
}

.text-decoration-none {
	text-decoration: none;
}

@media screen and (max-width : 992px) {
	body {
		margin-left: 2%;
		margin-right: 2%;
	}
}
@media screen and (max-width : 768px) {
	body {
		display: flex;
		justify-content: center;
		align-self: center;
		padding: 1%;
	}
	h2 {
		font-size-adjust: 80%;
		margin-left : 1%;
	}
	
	h3,#site-search, #button-search{
		font-size-adjust: 80%;
		margin-left: 1%;
	}
	
	h4 {
		font-size-adjust: 80%;
		margin-left: 1%;
	}


	
}
/*Side menu*/
#logo-booki {
	width: 62px;
	height: 19px;
}

.nav-link {
	display: inline-flex;
	justify-content: space-between;
	position: absolute;
	top: -16px;
	right: 2px;	
}

.nav-link a{
	
	display: inline-flex;
	justify-content: space-around;
	align-items: flex-end;
	
	cursor: pointer;
	
	padding: 0 25px;
	padding-top: 44px;
	
	background-color: #FFFFFF;
	
	color: #000000;
	text-decoration-line: none;
	
	transition: 1s;
	box-sizing: border-box;
	border-top: 3px solid #ffffff;
}
.nav-link a:hover{
	color: #0065FC ;
	border-top: 3px solid #0065FC;	
}

.nav-link ul {
	display: inline-flex;
}

.nav-link h3 {
	font-weight: 400;
}

@media screen and (max-width : 992px) {
	.nav-link {
		right:-1% ;
		
	}
}

@media screen and (max-width:768px) {
	
	header {
		padding-top: 21px;
	}
	.logo-nav-link {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.nav-link {
		position: relative;
		width: 100%;
	}
	.nav-link a {
		border-bottom: 3px solid #ffffff;
		border-top : none;
	}
	
	.nav-link a:hover {
		border-bottom: 3px solid #ffffff;
		border-top : none;
	}
	.nav-link ul {
		padding-left: 0;
		margin-left: 0;
		display: flex;
		width: 100%;
	}
	.nav-link li {
		display: flex;
		justify-content: center;
		border-bottom: 3px solid #D9D9D9;
		border-top : none;
		width: 100%;
	}
	
	.nav-link li:hover {
		border-top: none;
		border-bottom :3px solid #0065FC;
	}
}
/*End side menu*/

/*Search module*/
#top-content {
	padding-top: 1%;
}

#top-content > div:first-of-type {
	margin-bottom: 8px;
}

#top-content h3 {
	margin: 10px 0 10px 0;
	font-weight: 400;
}
.search-container {
	display: inline-flex;	
	height: 49px;
	margin-top: 20px;
}

.search-container .grey-square {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	border : 1px solid;
	border-radius: 15px 0 0 15px;
	border-color:#D9D9D9;
	background-color: #F2F2F2 ;
	
}

.search-rectangle {
	display: flex;
	align-items: center;
}

#site-search {
	width: 231px;
	height: 47px;
	border : 0;
	outline : 1px solid #D9D9D9;
	font-weight: 700;
}

.search-rectangle .button-search {
	cursor : pointer ;
	width: 132px;
	height: 49px;
	
	background-color:#0065FC ;	
	border-radius: 0 15px 15px 0;
	border-color: transparent;
	
	color: #FFFFFF;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	
	transition: opacity 1s;	
}

.search-rectangle .button-search:hover {
	opacity:80% ;
	
}

.search-rectangle i, #icon-search  {
	display: none;
}
/* Changement du text par l'icon loupe quand on passe sur la version mobile */
@media screen and (max-width : 768px) {
	.search-rectangle i, #icon-search {
		display: block;
	}
	
	#icon-search {
		width: 50px;
	}
	
	.search-rectangle {
		position : relative;
	}
	
	.search-rectangle i {
		position : absolute;
		right: 16px;
		color: #FFF;
	}
	.search-rectangle #site-search {
		min-width: 140px;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.search-rectangle #text-search {
		display: none;
	}
}
/*end search module*/

/*Browser button*/

.browsing-nav {
	display: inline-flex;
	align-items: center;
	padding-top: 30px;
}
.browsing {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	
	cursor: pointer;
	margin-left: 10px;
	max-width: 914px;	
	
}

.browsing .filter-button {	
	display: inline-flex;
	justify-content: center;
	align-items: center;
		
	cursor: pointer;
	
	border : 1px solid #D9D9D9;
	border-radius: 25px;
	background-color: #fff;
	
	font-size: 17px;
	line-height: 19.96px;
	font-weight: 700;
	
	transition: 1s;
}

.browsing .filter-button:hover{
	opacity: 80%;
	color: #0065FC;
	background-color: #DEEBFF;
}

.browsing i{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	height: 22px;
	width: auto;
	padding: 8px ;
	
	color: #0065FC;
}

@media screen and (max-width: 768px) {
	.browsing-nav {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	
	.browsing-nav h2 {
		margin-bottom: 10px;
		align-self: flex-start;
	}

	.browsing {
		min-width: 320px;

	}
	.browsing .filter-button {	
		width: 150px;
		height: 50px;
		font-weight: 700;
		line-height: 13px;
	}
	
}
/* End navigation */

/*tooltip*/

.i-circle {
	display: inline-flex;
	margin: 20px 0 20px 0;
}

.i-circle i {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	height: 24px;
	width: 24px;
	
	color: #0065FC;
	border : 1px solid;
	border-radius: 50%;
	border-color:#D9D9D9;
	background-color: #FFF ;
	box-sizing: border-box;
	margin-right: 12px;
}

@media screen and (max-width : 768px) {
	.i-circle i	{
		height: 24px;
		width: 24px;
		font-size-adjust: 80%;
	}
}

/*end tooltip*/

/*End Header*/

/*Body */


#content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
	width: 100%;
}

.basic-grey-widget-container {
	display: flex;
	flex-wrap: nowrap;	
}

@media screen and (max-width: 992px) {
	.basic-grey-widget-container {
		flex-direction: column;
	}
}

@media screen and (max-width : 768px) {
	.basic-grey-widget-container {
		flex-direction:column-reverse;
		align-items: center;
		width: 100%;
	}
}

.basic-grey-widget {
	display: flex;
	flex-direction: column;
	
	box-sizing: border-box;
	
	flex-grow: 1;
	
	background-color: #f2f2f2;
	border-radius: 20px;
	padding: 40px;
	
	max-height: 626px;
}

.basic-grey-widget a {
	color: #000;
}

.img-preview-widget {
	
	width: 100%; 	
	height: 100%;
	object-fit: cover;
	
	border-radius: 20px 20px 0 0;
	box-sizing: border-box;
	border: 5px solid #fff;
}

@keyframes bump { 0% { transform: scale(1); } 25% { transform: scale(1.02); } 50% { transform: scale(1);} 75% { transform: scale(0.98);} 100% {transform: scale(1);}  }

.img-preview-widget:hover {
	animation: 6s linear 0s infinite bump 
}

.grey-star, .grey-star::before {
	color: #f2f2f2 !important;
}

.stars {
	display: flex;
	gap: 2px;
}

.stars .fa-star, .stars .fa-star::before {
	color: #0065FC;
	font-size: 12px;
	max-width: 12px;
}



#widget-accommodation {

	flex-shrink: 3;
	position: relative;
	margin-right: 40px;
}

@media screen and (max-width: 992px) {
	#widget-accommodation {
		margin-bottom: 53px;
		margin-right: 0;
	}
}


#thumbnail-accommodation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 22px;
	overflow: hidden;
}

.rectangle-accommodation {	
	width: 30%;
	height: 199px;	
	flex-grow: 1;	
	margin-top: 30px;
}

.widget-rectangle {
	border-radius: 20px ;
	background: #FFF;
	
	box-sizing: border-box ;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
	
	text-decoration: none;
}


.accommodation-img-container {	
	display: flex;
	
	height: 124px;
	width: 100%;
	
}

.description-accommodation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 4px;
	margin-left: 16px;
	height: 67px;
}

.description-accommodation h3 {
	-webkit-line-clamp: 1;
}

.description-accommodation > p {
	margin: 9px 0;
}

.displaymore-widget {
	display: flex;
	width: fit-content;
	flex-grow: 1;
	margin-top: 20px;
}

.displaymore-widget:hover{
	color: #0065FC;
}
@media screen and (max-width : 768px) {
	.basic-grey-widget {
		max-height: none;
		border-radius: 0;
		padding: 0;
	}
	
	#widget-accommodation {
		display: flex;
		flex-direction: column;
		
		overflow: visible;
		background-color: #FFF;
		border: none;
		
		min-width: 320px;
		width: 100%;
		
		padding: 0;
		padding-top: 10px;
	}

	#thumbnail-accommodation {
		display: flex;
		flex-direction: column;
		align-self: center;
	}
	
	.rectangle-accommodation {
		min-width: 300px;
		max-width: 335px;
	}

	.displaymore-widget  {
		width: initial;
	}
	
	
}
/* End accommodation */

/* Popular widget */

#widget-popular {
	display: flex;
	flex-direction: column;
	flex-shrink: 2;
	max-width: 420px;
	padding-left: 37px;
}

#widget-popular-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	margin-bottom: 26px;
}

#widget-popular-header i {
	width: 18px;
	line-height: 16px;
	color: #0065FC;
}

#thumbnail-popular {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rectangle-popular {
	width: 100%;
	margin-bottom: 33px;
}

.rectangle-popular a {
	display: flex;
}

.description-popular-header > h3 {
	margin-bottom: 7px;
}

.popular-img-container {
	display: flex;
	
	height: 144px;
	min-width: 137px;
	max-width: 137px;
	
	overflow: hidden;
}

.popular-img-container > .img-preview-widget {
	border-radius: 20px 0 0 20px;
}


.label-popular {
	width: 100%;
	height: 100%;
}

.description-popular {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	margin: 1% 2% 1% 2%;
}

@media screen and (max-width: 992px) {
	#widget-popular {
		max-width: 100%;
	}
	
	#thumbnail-popular {
		display: flex;
		flex-direction: row;
		column-gap: 20px;
	}
	
	.rectangle-popular {
		height: 144px;
	}
	
	.description-popular{
		margin-top: 10px;
	}
	
}


@media screen and (max-width : 768px) {
	
	#widget-popular-header {
		min-width: 320px;
	}
	#widget-popular {
		width: 100%;
		align-items: center;
		margin-left: 0;
		padding: 0;
		padding-top: 10px;
	}
	
	#thumbnail-popular {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding : 0 10px 0 10px;
	}
}
/* End popular */
.basic-white-widget {
	display: flex;
	width: 100%;
	background-color : #FFF;
}

#widget-activity {
		width: 100%;
	margin-top: 60px;
	margin-bottom: 61px;
}

#thumbnail-activity {
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
	column-gap: 1%;
}

.rectangle-activity {
	width: 25%;
	max-width: 300px;
	min-width: 180px;
	max-height: 445px;
	height: 445px;
	margin: 0 1% 0 1%;
}

.rectangle-activity.widget-rectangle {
	padding: 0;
}

.rectangle-activity.widget-rectangle a {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.activity-img-container {
	flex-grow: 1;
	overflow: hidden;
}

.activity-img-container .img-preview-widget {
	border: none;
}

.description-activity {
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 6%;
	color: #000;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 992px) {
	.rectangle-activity {
		min-width: 100px;
		max-width: 182px;
		max-height: 267px;
		margin: 0;
	}
	.description-activity {
		display: flex;
		align-items: center;
		min-height: 50px;
		max-height: 50px;
		box-sizing: border-box;	
		margin-top: 0;
		margin-bottom: 0;	
		white-space: normal;
		overflow: auto;
		text-overflow: initial;
	}
}

@media screen and (max-width: 768px)  {
	
	#thumbnail-activity{
		display: flex;
		flex-direction: column;
		
		margin-top: 18px;
		margin-left: 0;
	}
	
	.rectangle-activity {
		align-self: center;
		
		min-width: 320px;
		max-width: 334px;
		max-height: 190px;
		
		margin-top : 24px;
		margin-bottom: 24px;
	}
	
	#widget-activity {
		margin-top : 0;
		max-height: none;
	}
	
	#widget-activity > h1 {
		width: 110px;
		display : -webkit-box ;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	
}

/*End body*/

#footer-info {
	width: 100%;
}

.bottom-information {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	
	height: 100%;
	width: 100%;
	
	background-color: #F2F2F2;
}

.information-footer-colonne a:hover{
	color: #0065FC;
}

.information-footer-colonne a{
	display: flex;
	flex-direction: column;
	
	max-height: 200px;
	margin-top: 12px ;
	
	color: #000;
	text-decoration: none;
}

.information-footer-colonne h3 {
	font-weight: 400;
}


@media screen and (max-width:768px){
	footer{
		height: 100%;
	}
	
	.bottom-information {
		flex-direction: column;
	}
}


/* End footer */
